body {
    background-color: darkgreen;
    color: lightpink;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item {
    border: 1px solid white;
}

.grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}